@charset "UTF-8";
/********************** main **********************/
.header {
  border-bottom: 1px solid var(--header-bgrcolor);
}

.header-flex {
  display: flex;
}

/* main */
/********************** navigation **********************/
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-left: 93px;
}

.navigation .navigation__link:hover,
.navigation .navigation__link:focus {
  color: var(--brand-color);
}

.navigation .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation .navigation__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/********************** logo **********************/
.logo {
  display: block;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--brand-color);
}

.logo__white {
  color: var(--amogus-color);
}

.logo-footer {
  margin-bottom: 20px;
}

.logo__footer {
  color: var(--fff-color);
}

/* logo */
/********************** contact **********************/
.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact__item + .contact__item {
  margin-left: 30px;
}

.contact__link {
  padding: 32px 0;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--descript-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--brand-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* contact */
/* indicator activ page */
#active-now {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  position: relative;
}

#active-now::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  background: var(--brand-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
}

/* / indicator activ page */
/********************** hero sec 1 **********************/
.hero {
  background: var(--backgtound-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fff-color);
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--fff-color);
  background: var(--brand-color);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--link-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* hero sec  */
/********************** our benefits sec 2 **********************/
.title-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.flex-container {
  display: flex;
}

.descript .benefits__item {
  width: 270px;
}

.benefits__item {
  margin-right: 30px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--sec-backgtound-color);
  border-radius: 4px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.benefits__descript {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/********************** permanent clients 5 **********************/
.clients__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__icon-item + .clients__icon-item {
  margin-left: 30px;
}

.clients__icon-item:hover .clients__icon {
  fill: var(--brand-color);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  border: 1px solid var(--brand-color);
}

.clients__icon {
  fill: var(--fill-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus .clients__icon {
  fill: var(--brand-color);
}

.clients__link:focus {
  border: 1px solid var(--brand-color);
}

/* permanent clients 5 */
/********************** our team sec 4 **********************/
.background {
  background: var(--sec-backgtound-color);
}

.team__main-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team__item {
  margin-right: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--fff-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__list {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team__descript {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

.team__soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team__item-soc + .team__item-soc {
  margin-left: 10px;
}

.team__link {
  width: 44px;
  height: 44px;
  background-color: var(--fff-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  background-color: var(--brand-color);
}

.team__soc-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--fill-icon);
}

.team__link:hover .team__soc-icon {
  fill: var(--fff-color);
}

.team__link:hover .team__soc-icon {
  fill: var(--fff-color);
}

/**********************  work section 3 **********************/
.work-section {
  padding-top: 0;
}

.work-item {
  position: relative;
  margin-right: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fff-color);
}

/* work section 3 */
/**********************  footer  ********************************************/
/********************** adress **********************/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
  color: var(--fff-color);
  background: var(--backgtound-color);
}

.footer__flex {
  align-items: baseline;
  display: flex;
}

.footer__adress {
  flex-grow: 1;
}

.adress__conact {
  margin-bottom: 9px;
}

.adress__conact:last-child {
  margin: 0;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fff-color);
}

.adress__links {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__links:hover,
.adress__links:focus {
  color: rgb(255, 255, 255);
}

/* adress */
/********************** follow **********************/
.footer-follow {
  margin-left: 70px;
}

.footer-follow__text {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fff-color);
}

.soc-list {
  display: flex;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__link {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover,
.soc-list__link:focus {
  background-color: var(--brand-color);
}

.soc-list__icon {
  fill: var(--fff-color);
}

/* follow */
/********************** subscribe **********************/
.subscribe {
  margin-left: 93px;
}

.subscribe__text {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fff-color);
}

.subscribe__block {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  margin-right: 12px;
  background-color: var(--backgtound-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__w-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus {
  outline-color: rgba(255, 255, 255, 0.335);
}

.subscribe__butt {
  background: var(--brand-color);
  color: var(--fff-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 29px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__butt:hover,
.subscribe__butt:focus {
  background: var(--link-hover);
}

.subscribe__icon {
  fill: var(--fff-color);
  margin-left: 10px;
}

/* subscribe */
/********************** button **********************/
.form__modal-button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--fff-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__modal-button:hover,
.form__modal-button:focus {
  background: var(--link-hover);
}

/* button */
/* backdrop */
/********************** checkbox **********************/
.form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__checkbox {
  background-color: var(--brand-color);
  border-radius: 2px;
  margin-right: 4px;
}

.form__checkbox-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descript-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__checkbox-text::before {
  content: "";
  height: 16px;
  width: 15px;
  border: 2px solid black;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
}

.form__checkbox-a {
  color: var(--brand-color);
}

.form__checkbox:checked + .form__checkbox-text::before {
  background-color: var(--brand-color);
  border: none;
  background-image: url(../images/modal/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* checkbox */
/********************** backdrop ********************************************/
/********************** input **********************/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.model {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--fff-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.model__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--fff-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.model__close-btn:hover,
.model__close-btn:focus {
  fill: var(--brand-color);
}

.modal__title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.form__input {
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--descript-color);
  display: block;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline-color: var(--brand-color);
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
}

.modal__input:focus + .form__icon {
  fill: var(--brand-color);
}

/* input */
/********************** TEXTAREA TEXT AREA **********************/
.form__area {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form__area:focus {
  outline-color: var(--brand-color);
}

.form__area::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* TEXTAREA TEXT AREA */
/********************** Опис картинок в портфоліо **********************/
.flex-container--portfolio {
  flex-wrap: wrap;
}

.gallery__element {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--fff-color);
  width: 370px;
  box-sizing: border-box;
}

.gallery__element:nth-child(3n) {
  margin-right: 0;
}

.gallery__element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gallery__shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translateY(0%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__shadow:hover,
.gallery__shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__top-wrap {
  position: relative;
  overflow: hidden;
}

.gallery__master-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--fff-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery__shadow:hover .gallery__master-text,
.gallery__shadow:focus .gallery__master-text {
  transform: translateY(0%);
}

.gallery__text-box {
  display: block;
  margin: 0;
  padding: 20px 24px;
  width: 370px;
  width: 370px;
  border: 1px solid var(--border-box);
  border-top: none;
}

.gallery__pic-descript {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.gallery__under-pic-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/* Опис картинок в портфоліо */
/********************** PORTFOLIO ********************************************/
/********************** port-butt **********************/
.port-butt {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.port-butt .port-item + .port-item {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  background: var(--sec-backgtound-color);
  background-color: var(--sec-backgtound-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: white;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/********************** popular selectors **********************/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img-item {
  margin-right: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-item:last-child {
  margin-right: 0;
}

/* popular selectors */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --descript-color: #757575;
  --backgtound-color: #2f303a;
  --sec-backgtound-color: #f5f4fa;
  --fff-color: #ffffff;
  --link-hover: #188ce8;
  --amogus-color: #000000;
  --header-bgrcolor: #ececec;
  --border-box: #eeeeee;
  --fill-icon: #afb1b8;
  --font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/********************** PORTFOLIO ********************************************/
/********************** port-butt **********************/
.port-butt {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.port-butt .port-item + .port-item {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  background: var(--sec-backgtound-color);
  background-color: var(--sec-backgtound-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: white;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/********************** Опис картинок в портфоліо **********************/
.flex-container--portfolio {
  flex-wrap: wrap;
}

.gallery__element {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--fff-color);
  width: 370px;
  box-sizing: border-box;
}

.gallery__element:nth-child(3n) {
  margin-right: 0;
}

.gallery__element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gallery__shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translateY(0%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__shadow:hover,
.gallery__shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__top-wrap {
  position: relative;
  overflow: hidden;
}

.gallery__master-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--fff-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery__shadow:hover .gallery__master-text,
.gallery__shadow:focus .gallery__master-text {
  transform: translateY(0%);
}

.gallery__text-box {
  display: block;
  margin: 0;
  padding: 20px 24px;
  width: 370px;
  width: 370px;
  border: 1px solid var(--border-box);
  border-top: none;
}

.gallery__pic-descript {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.gallery__under-pic-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/* Опис картинок в портфоліо *//*# sourceMappingURL=main.css.map */